

<div class="container">
  <h1>Are you sure you want to join the dark side? GOOD!</h1>
  <p>Please key an email and a password for registration purposes</p>

  <form action='/sign_up' method='post'>
  <input area="text" name="user[full_name]" placeholder="Key in full name">
  <input area="text" name="user[email]" placeholder="Key in email">
  <input area="text" name="user[password]" placeholder="Key in password">
  <br>
  <br>
  <input type="submit" value="Submit!">
  </form>