<div class="container">

<h1>Examination = Torture</h1>

<p><i>Welcome to D-Day!</i></p>
<br>
<h2>What would you like to do?</h2>

  <a href = "/sign_in">Sign In</a>
  <a href = "/create_account">Create an Account</a>
  <a href = "/url_list">Proceed without Sign In</a>

</div>